

.image{
    border-radius: 50%;
    width: 40%;
    margin: 0 auto;
    
}



.person-bg{
    background-color: white  !important;
    box-shadow: 3px 3px 6px lightgray;
    border-radius: 12px;
 
}

/* this style for person details */
.icon{
   color: blue;
}

.small-image{
    border-radius: 50%;
    width: 30%;
}